.dart_tool/
.idea/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
android/.gradle/
android/.kotlin/
android/local.properties
android/key.properties
android/*.jks
android/*.keystore
qa-signing/
ios/Flutter/ephemeral/
ios/Pods/
ios/.symlinks/
ios/ExportOptions.plist
*.iml
flutter_*.log
.tmp_*.log
